.image.small
    img
        max-width: 1em
        max-height: 1em
        vertical-align: inherit

.bttf
    font-size: 4em;
    -webkit-text-stroke: 0.03em #1EB8E7;
    background: -webkit-linear-gradient(#E62A00 24%,#F15A00 37% ,#FF9A00 53%,#FFDC00 77%);
    padding: 0.1em 1em;
    line-height: 1em;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    .small-shadow
        -webkit-text-stroke: 0.01em #1eb8e7;
        float: right;
        margin-top: -2.5rem;
        margin-right: -4rem;
    &.reversed
        margin-top: -0.4em;
        background: -webkit-linear-gradient( #FFDC00 24%, #FF9A00 37%, #F15A00 53%, #E62A00 77%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

.image_slide
    img
        position: absolute;
        max-width: 33%;
        max-height: 33%;
    &.lower
        img
            bottom: 5%;
    &.right
        img
            right: 5%;
    &.upper
        img
            top: 5%;
    &.left
        img
            left: 5%;

