//CT COLORS
$darkBlue = #409ad6
$lightBlue = #3bcce5
$darkGray = #313131
$gray = #959595
$lightGray = #efefef

rem-calc(value)
  ((u = unit(value)) is "px") ? unit(round(value/16, 4), "rem") : value

$slide-width = 1280px
$slide-height = 720px
$slide-padding = 1em
$slide-transition = none
$color-surface = $darkGray
$color-canvas = $lightGray
$color-text = black
$color-muted = $darkGray
$color-accent = $darkBlue
$color-inverse = #fff
$color-highlight = $lightBlue
$color-heading = $darkBlue
$font-family-base = "Source Sans Pro", sans-serif
$font-size-base = 2.5em
$sym-dblquote-left = "\201c"
$sym-dblquote-right = "\201d"
$sym-dash-em = "\2014"
